<%- include("partials/header") %> 

<h1>Edit</h1>
<form action="/edit" method="POST">
    <div class="form-group">
        <label for="input1">title</label>
        <input  class="form-control" type="text" name="title" id="input1">
    </div>
    <div class="form-group">
        <label for="input2">post</label>
        <textarea name="post" id="input2" rows="10" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>


<%- include("partials/footer") %> 