<%- include("partials/header") %> 

<h1>Remove</h1>
<form action="/remove" method="POST">
    <div class="form-group">
        <label for="input1">title</label>
        <input  class="form-control" type="text" name="title" id="input1">
    </div>
    <button type="submit" class="btn btn-primary">Remove</button>
</form>


<%- include("partials/footer") %> 